<footer class="footer container">
  <div class="footer-container">
    <div class="left-container">
      <img class="logo-footer" src=".././img/logo.svg" alt="" />
      <div class="under-logo">
        <p class="under-logo-text">
          We are the leading architect and <br />
          interior design firm in the world.
        </p>
      </div>

      <div class="small-logos-container">
        <img class="small-logos1" src=".././img/facebook.svg" alt="" />
        <img class="small-logos2" src=".././img/twitter.svg" alt="" />
        <img class="small-logos3" src=".././img/linkedin.svg" alt="" />
        <img class="small-logos4" src=".././img/insta.svg" alt="" />
      </div>
    </div>
    <div class="nav-footer">
      <div class="Pages">
        <h2 class="pec">Pages</h2>
        <a class="footer-nav-text" href="#">Style Guide</a>
        <a class="footer-nav-text" href="#">Protected</a>
        <a class="footer-nav-text" href="#">Licenses</a>
        <a class="footer-nav-text" href="#">Changelog</a>
        <a class="footer-nav-text" href="#">404</a>
      </div>
      <div class="Explore">
        <h2 class="pec">Explore</h2>
        <a class="footer-nav-text" href="#">About Us</a>
        <a class="footer-nav-text" href="#">Recent Blog</a>
        <a class="footer-nav-text" href="#">Pricing Plan</a>
        <a class="footer-nav-text" href="#">Our Projects</a>
        <a class="footer-nav-text" href="#">Contact Us</a>
      </div>
      <div class="Contact">
        <h2 class="pec">Contact</h2>
        <p class="footer-nav-text">
          53, East Birchwood Ave. <br />
          Brooklyn, New York 11201, USA.
        </p>
        <p class="footer-nav-text">contact@interno.com</p>
        <a class="footer-nav-text" href="tel:1234567890">(123) 456 - 7890</a>
      </div>
    </div>
  </div>
  <div class="copyrght">
    <p class="copyrghtP">
      Copyright &copy; Interno | Designed by
      <span class="footer-span-words">Victorflow</span> Templates - Powered by
      Webflow
    </p>
  </div>
</footer>
