<section class="section-8 container">
    <div class="section-8__box">
        <div class="section-8__title-box">
            <h1 class="section-8__title">Recent Blogs</h1>
            <p class="section-8__subtitle">Get updates about our latest trends and techniques used in</p>
            <p class="section-8__subtitle">interior design project works.</p>
        </div>
        <div class="section-8__box-cards">
            <div class="section-8__card">
                <div class="section-8__img1">
                    <div class="section-8__card-desc">
                        <p>Kitchen Design</p>
                    </div>
                </div>
                <h3 class="section-8__card-title">Residential Interior Designer In New York, USA</h3>
                <p class="section-8__card-text">November 23, 2021</p>
                <div class="section-8__card-arow"></div>
            </div>
            <div class="section-8__card">
                <div class="section-8__img2">
                    <div class="section-8__card-desc">
                        <p>Living Room</p>
                    </div>
                </div>
                <h3 class="section-8__card-title">How To Choose The Best Wall Art & Decor House?</h3>
                <p class="section-8__card-text">November 23, 2021</p>
                <div class="section-8__card-arow"></div>
            </div>
            <div class="section-8__card">
                <div class="section-8__img3">
                    <div class="section-8__card-desc">
                        <p>Minimalist Interior</p>
                    </div>
                </div>
                <h3 class="section-8__card-title">Tips To Increase The Interior Value Of Your House</h3>
                <p class="section-8__card-text">November 23, 2021</p>
                <div class="section-8__card-arow"></div>
            </div>
            <div class="section-8__card">
                <div class="section-8__img4">
                    <div class="section-8__card-desc">
                        <p>Kitchen Design</p>
                    </div>
                </div>
                <h3 class="section-8__card-title">Best Solution For Any Office & Business Interior</h3>
                <p class="section-8__card-text">November 23, 2021</p>
                <div class="section-8__card-arow"></div>
            </div>
            <div class="section-8__card">
                <div class="section-8__img5">
                    <div class="section-8__card-desc">
                        <p>Living Room</p>
                    </div>
                </div>
                <h3 class="section-8__card-title">Get Solution For Building Construction Work</h3>
                <p class="section-8__card-text">November 23, 2021</p>
                <div class="section-8__card-arow"></div>
            </div>
            <div class="section-8__card">
                <div class="section-8__img6">
                    <div class="section-8__card-desc">
                        <p>Minimalist Interior</p>
                    </div>
                </div>
                <h3 class="section-8__card-title">Attain The Best Finish For The Kitchen Cabinets</h3>
                <p class="section-8__card-text">November 23, 2021</p>
                <div class="section-8__card-arow"></div>
            </div>
        </div>
    </div>
</section>