<section class="section3">
      
    <div class="section3-content3">
    <h2 class="section3-content-title">
      We Tackle The Most Challenging Designs
    </h2>
    <p class="section3-content-paragraph">
      The world needs innovators and problem solvers who turn challenges
      into greater opportunities. We have an insatiable curiosity about
      transformative trends challenging the status.
    </p>
    <div class="section3-content-callme">
      <img src="/project/Images/Frame.png" alt="" />

      <div class="section-content-textcallme">
        <p>012345678</p>
        <p>Call Us Anytime</p>
      </div>
    </div>
    <button class="section3-content-button">
      Get Free Estimate <img src="Images/IMAGE (1).png" alt="" />
    </button>
  </div>
    <img
      class="section3-content-kartina"
      src="/project/Images/fon.png"
      alt=""
    />
</section>
