<section>
  <div class="Section_4 container">
    <h2 class="text_WtPTAI">
      What the People Thinks <br /><br />
      About Interno
    </h2>
    <div class="cardcont">
      <div class="cards card">
        <div class="fece">
          <img class="img" src=".././img/person1.png" alt="lisa" />
          <div class="fece2">
            <h2 class="Name---">Lisa Clairton</h2>
            <h3 class="City---">New York, USA</h3>
          </div>
        </div>
        <p class="what-they-think">
          We selected Interno interior because of rigorous design background &
          education.
        </p>
      </div>

      <div class="cards card">
        <div class="fece">
          <img class="img" src=".././img/person2.png" alt="david" />
          <div class="fece2">
            <h2 class="Name---">David Knight</h2>
            <h3 class="City---">Sydney, Australia</h3>
          </div>
        </div>
        <p class="what-they-think">
          The team exceeded our expectations and emerged as leaders of our
          projects.
        </p>
      </div>

      <div class="cards card">
        <div class="fece">
          <img class="img" src=".././img/person3.png" alt="lisa2" />
          <div class="fece2">
            <h2 class="Name---">Lisa Clairton</h2>
            <h3 class="City---">Paris, France</h3>
          </div>
        </div>

        <p class="what-they-think">
          They balanced the architectural vision and the project realities
          beautifully.
        </p>
      </div>
    </div>
  </div>
</section>
