.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px;
  background-color: bisque;
}

.Navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.Navigation_List {
  display: flex;
  align-items: center;
  gap: 40px;
}
.Navigation_Items:hover {
  color: rgba(205, 162, 116, 1);
}
