
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgba(205, 162, 116, 1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px;
  margin: 18px 0px;
}

.Navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.Navigation_List {
  display: flex;
  align-items: center;
  gap: 40px;
}
