.section-8 {
    height: 1562px;
}

.section-8__box {
    height: 1344px;
    margin: 120px;
}

.section-8__title-box {
    height: 148px;
    margin-top: 15px;
}

.section-8__title {
    font-family: "DM Serif Display", serif; 
    display: flex;
    justify-content: center;
    margin-top: 14px;
    font-size: 48px;
    line-height: 62px;
}
.section-8__subtitle {
    font-family: "Jost", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 21px;
    font-size: 22px;
}


/* cards */


.section-8__box-cards {
    width: 1220px;
    height: 1111px;
    margin-top: 70px;
}

.section-8__card {
    width: 387px;
    height: 515px;
    border: 1px #E7E7E7;
}